.custom-carousel .carousel-inner {
    width: 100%;
    height: 100vh;
  }
  
  .custom-carousel .carousel-item img {
    width: 100%;
    height: 100vh;
    /* object-fit: cover; */
  }

  .footer {
    background-color: #252A2B;
    width: 100%;
    color: aliceblue;
    /* flexDirection:'row'; */
    box-sizing: border-box;
  }
  