
  
  .formbg {
    background: linear-gradient(to right, #3498db 0%, #72bbec 50%, #b8daf0 100%);  
  }
  
  .tagbg{
    background-color: #b8daf0;
  }
  
  .headingSd{
    font-size: xx-large;
  }

  .labelText{
    font-size: 19px;
  }

  .search-btn{
    margin-top: 0px;
  }