/* Add this to your style.css or a dedicated navbar.css file */

/* Example */
.navbar {
    background-color: black !important;
  }
  
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-toggler-icon {
    background-color: white; /* Adjust the background color of the toggler icon */
  }
  
.buttonBg{
  border-color: blue;
  color: blue;
}

/* implementing hover on residential and commertial */

/* Style the dropdown container */
.dropdownn {
  position: relative;
  display: inline-block;
}

/* Style the button that triggers the dropdown */
.dropdownn-button {
  /* background-color: #3498db; */
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdownn-content {
  display: none;
  position: absolute;
  background-color: #d6e7ec;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the dropdown items */
.dropdownn-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdownn-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdownn:hover .dropdownn-content {
  display: block;
}